<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.burning.emqmsg">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- 相册拍照 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- jobScheduler -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".EmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.emqapp">
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MsgActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.UserinfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GroupActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.NewFrendActivity"
            android:launchMode="singleTop" />

        <service
            android:name=".service.Mqservices"
            android:exported="true"
            android:persistent="true"
            android:priority="1000" />
        <service
            android:name=".service.NjobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":njobs" />
        <service
            android:name=".service.RtService"
            android:enabled="true"
            android:exported="true"
            android:persistent="true"
            android:priority="1000"
            android:process=":rsety" />

        <activity
            android:name=".activity.SearchAddActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SignupActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PermissionActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WellcomActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddFrendActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.linchaolong.android.imagepicker.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.burning.emqmsg.Myfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".activity.SetUserInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SendDiaryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/AppTheme.emqapp"></activity>
    </application>

</manifest>